body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
}
.breadcrumbs_iteam{
    display: flex;
    -moz-box-align: center;
    align-items: center;
    color: #112950;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    opacity: .3;
}
.breadcrumbs_iteam a{
    color: #112950;
    text-decoration: none!important;
} 
.breadcrumbs_iteam .title{
    color: #000000;
    font-weight: 500;
    font-style: initial;
}
 

.font-bold {
    font-family: AvenirNext-Bold, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 18px;
}

header .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    display: ;
}

/*Header-menu mobile */
header {
    margin: 0px;
    padding: 0px;
}

.header-logo {
    display: inline-block;
    padding: 0px;
}

.header-logo img {
    width: 100%;
    height: 60px;
}

header ul {
    margin-right: 50px;
    padding: 0px;
}

header li {
    padding: 0px;
}


header button {
    margin-right: 8px;
    padding: 0px;
    color: black;
}

header .header-bottom {
    color: #fff;
    background-color: #242a61;
    display: flex;
    text-align: center;
    height: 102px;
}

header .header-location {
    display: inline-block;
    width: 158px;
    height: 70px;
    text-align: center;
    background-color: #111c63;
    border-radius: 14px;
    margin-left: 4em;

}

header .header-location .block {

}

.header-top {
    display: block;
    color: #4a4a4a;
    font: 16px AvenirNext;
    line-height: 1;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    font-weight: 300;
    margin-right: 3%;
}

.header-top .nav-item {

}

header .header-icon {
    background: url("images/map/map.png") no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
}

header .header-location span {
    text-align: center;
}

header .header-bottom .search {
    width: 55%;
    padding: 0px;
    margin: 30px;
    display: inline-block;
}

header .header-login {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    display: block;
    width: 45%;
}

.header-btn-primary {
    background: #2FC1A6;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-family: AvenirNext-DemiBold;
    box-shadow: none;
    padding: 5px 25px;
    height: 40px;
    margin-left: 0px;
    margin-right: 15px;
}

.header-btn-blue {
    background: #567FEA;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-family: AvenirNext-DemiBold;
    box-shadow: none;
    padding: 5px 30px;
    height: 40px;
}

.header-login button {
    background: #2FC1A6;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-family: AvenirNext-DemiBold;
    box-shadow: none;
    padding: 5px 30px;
    height: 40px;
}

.login-register {
    display: inline-block;
}

#login-none {
    display: none;
}

#register-none {
    display: none;
}

header .header-login .order-pharmacy {
}

.shopping-cart {
    display: inline-block;
    margin: -4px;
}

.shopping-cart .fa-shopping-cart {
    color: white;
}

.shopping-cart .cart {
    position: absolute;
    transform: none !important;
    right: 0% !important;
    background-color: #f4f4f4;
    left: unset !important;
    top: 50px !important;
    width: 430px;
}

.shopping-cart .list-cart {
    font-size: 14px;
}

.shopping-cart .cart-total {
    padding: 1px;
}

.shopping-cart .cart-total a {
    float: right;
}

.shopping-cart .cart span {
    color: black;
    font-weight: 500;
    line-height: 3;
    font-style: initial;
    text-align: left;
    margin-left: 10px;

}


.login-register button {
    background-color: white;
    color: #111c63;
}

@media screen and (max-width: 37.5em) {
    header .header-logo img {
        width: 100%;
        height: 35px;
        margin: 0px;
        padding: 0px;
    }

    .header-bottom .location {
        display: none;
    }

    .order-pharmacy {
        display: none;
    }

    .login-register {
        display: none;
    }

    header .header-login {
        margin: 0px;
    }

    #register-none {
        display: block;
    }
    #login-none {
        display: block;
    }

    header .header-bottom .search {
        margin: 6px;
        width: 100%;
    }

    .order-pharmacy {
        display: none;
    }

    header .header-bottom {
        height: 50px;
    }

    header .input-group-prepend {
        display: none;
    }

    .shopping-cart .cart {
        width: 350px;
        right: 10% !important;
    }

    .shopping-cart .list-cart {
        font-size: 10px;
        font-weight: 600;
    }

    .shopping-cart .cart-total a {
        font-size: 12px;
        font-weight: 400;
    }

}

@media screen and (max-width: 1248px) {
    header .header-login {
        width: 45% !important;
    }

    header .order-pharmacy {
        display: none;
    }

    header .search {
        width: 100% !important;
    }

}
@media screen and (max-width: 768px) and (max-width: 996px){
    header .login-register {
        display: none;
    }
    header .header-location {
        margin-left: 0px;
    }
    #register-none {
        display: block;
    }
    #login-none {
        display: block;
    }

}
.button-next {
    position: absolute;
    bottom: 42%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
    padding: 0;
    color: #cac6c6;
    text-align: center;
    background: 0 0;
    border: solid 1px;
    opacity: .5;
    border-radius: 36px;
    height: 77px;
}

.button-prev {
    position: absolute;
    bottom: 42%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
    padding: 0;
    color: #cac6c6;
    text-align: center;
    background: 0 0;
    border: solid 1px;
    opacity: .5;
    border-radius: 36px;
    height: 77px;
    right: 0;
}

.fa-angle-left {
    font-weight: 200;
    color: black;
}

.fa-angle-right {
    font-weight: 200;
    color: black;
}

/* category*/
.category {
    margin-top: 3rem;
    color: black;
}

.category .title {
    font-family: "AvenirNext-Bold";
    font-size: 30px;
    margin-bottom: 0;
}

.category p {
    margin-bottom: 1rem;
}

.distance-sm {
    margin-left: -7px;
    margin-right: -7px;
}

.category .card {
    border: none;
}

.category-item {
    position: relative;
    max-width: 281px;
    height: 160px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 auto 18px;
}

.category-center {
    cursor: pointer;
    padding: 50px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: ease-in-out 0.25s;
}

.icon-category {
    display: inline-block;
    width: 50px;
    height: 40px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

/*featured-products*/
.featured-products {
    background: url(images/bg-wave-b-1.e06a921c1dbce9fc3a74.svg) no-repeat bottom;
    background-size: 100% auto;
    padding-bottom: 10%;
}

.box-product {
    margin: 20px;
    padding-bottom: 20px;
    position: relative;
}

.product-carousel {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    display: inline-flex;
}

.box-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-item {
    margin: 28px;
    padding: 5px;
    display: block;
    width: 252px;
}

.box-item .card .card-img-top {
    width: 100%;
    height: 207px;
    display: block;
}

.card-img-top img {
    width: 100%;
}

.box-item .card-text {
    margin: 0px;
}

.box-item .rating {
    display: inline-block;
}

.box-item .rating .fa-star {
    width: 10%;
    font-size: 12px;
}

.box-item .rating .fa-star .checked {
    color: #ffbd3d;
}

.price-product {
    font-size: 24px;
    color: #194ccc;
    font-weight: 400;
}

.box-item .btn-add-product {
    display: block;
    width: 100%;
    height: 20px;
}

.box-item .btn-add-product a {
    display: none;
}

.box-item .btn-add-product:hover a {
    display: block;
}

.box-item .btn-add-product:hover .row {
    display: none;
}


@media screen and (max-width: 37.5em) {
    .box-item {
        margin: 0px !important;
        width: 160px;
        height: 275px;
    }

    .box-item .card {
        padding: 0px;
    }

    .box-item .card .card-img-top {
        height: 110px;
    }

    .box-item .card-title {
        font-size: 11px;
    }

    .box-item .card-text {
        font-size: 10px;
    }

    .box-item .rating .fa-star {
        font-size: 7px;
    }

    .box-item .price-product {
        font-size: 15px;
    }

    .box-item .btn-add-product a {
        font-size: 10px;
    }

    .box-item .btn-add-product img {
        width: 150% !important;
    }

    .box-product .button-next {
        left: 0%;
        margin-top: 100px;
    }

    .box-product .button-prev {
        right: 0%;
        margin-top: 100px;
    }

}

/*blog-news*/
.blog-news {
    position: relative;
}

.blogs-title {
    font-size: 30px;
    color: #111C63;
    line-height: 1;
    text-decoration: none;
    margin-bottom: 30px;
    font-family: AvenirNext-Bold;
}

.blogs-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.blogs-box-news {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs-item {
    margin: 5px;
    padding: 5px;
    display: block;
    width: 420px;
}

.blogs-content-title {
    display: flex;
}

.blogs-content-title .card-title {
    color: #2fc1a6;
}

.blogs-content-title .time {
    margin-left: 3%;
}

.blogs-item h4 {
    color: #111c63;
    font: normal 20px/1.1 AvenirNext-Bold;
}

.blogs-item .card-body {
    height: 120px;
}

@media screen and (max-width: 37.5em) {
    .blogs-box-news {
        flex-wrap: wrap;
    }

    .blogs-title {
        font-size: 27px;
    }

    .blogs-item {
        padding: 0px;
        width: 164px;
    }

    .blogs-item .card {
        min-height: 275px;
        padding: 0px;
        overflow: hidden;
    }

    .blogs-item h4 {
        font-size: inherit;
    }

    .blogs-content-title {
        font-size: 8px;
    }

    .blogs-content .button-next {
        display: none
    }

    .blogs-content .button-prev {
        display: none;
    }

    .blogs-title a {
        margin: 0px;
        width: 100%;
        padding: 8px 30px;
    }
}

.customer-feedback {
    background: #f8f8f8;
    display: block;
    padding: 50px;
}

.feedback {
    background: linear-gradient(118deg, #8fb6f6, #567fea);
    position: relative;
    box-shadow: 3px 4px 10px rgb(0 0 20%);
    border-radius: 10px;
}

.feedback .card {
    min-height: 325px;
    background: linear-gradient(118deg, #8fb6f6, #567fea);
}

.oval {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.oval img {
    border-radius: 100px;
    width: 100px;
}

@media screen and (max-width: 37.5em) {
    .customer-feedback {
        padding: 0px;
    }
}

/*welcome-pharmacy*/
.pharmacy-welcome {
    background: url("images/bg-wave-t.c081388f4a9348294496.svg") no-repeat top;
    background-size: 100% auto;
    padding-top: 10%;
}

.left-pill-content {
    background: #567fea;
    padding: 3.8rem 70px 3.8rem 8em;
    border-top-right-radius: 140px;
    border-bottom-right-radius: 140px;
    position: relative;
    width: 120%;
    right: 20%;
}

/*pharmacy-delivery*/
.pharmacy-delivery-main {
    background: url("images/bg-wave-t-1.8be002d7e0e0525e1bc9.svg") no-repeat bottom;
    background-size: 100% auto;
    padding-bottom: 14%;
    width: 100%;
    overflow: hidden;
}

.pharmacy-delivery {
    margin-top: 3rem;
}

.pharmacy-delivery-main .card {
    padding: 0px;
    min-height: 340px;
}

.pharmacy-delivery-main .card .card-body li {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
}

.card .color-blue {
    border: none;
    box-shadow: 0 2px 16px -2px rgb(0 0 20%);
    border-radius: 10px;
    z-index: 99;
}

.card-header {
    position: relative;
    background: #567fea;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
}

.icon-spill {
    position: absolute;
    right: 7px;
    top: 7px;
}

.pharmacy-delivery .right-pill-content {
    background: #4ce1c6;
    margin-top: 60px;
    padding: 3.8rem 0 3.8rem 70px;
    border-top-left-radius: 140px;
    border-bottom-left-radius: 140px;
    position: relative;
    width: 120%;
}

.pharmacy-delivery .free-shipping {
    position: absolute;
    background: #567fea;
    padding: 0px 0px 0px 24px;
    border-top-left-radius: 54px;
    border-bottom-left-radius: 54px;
    width: 90%;
}

.free-shipping .main {
    display: flex;
    align-items: flex-start;
}

.main .main-left img {
    padding-top: 8px;
    padding-right: 8px;
}

.free-shipping .main-body {
    flex: 1;
}

.free-shipping .main-body p {
    margin-bottom: 0px;
}

/* Brands*/
.brand-title {
    font-size: 30px;
    color: #111C63;
    line-height: 1;
    text-decoration: none;
    margin-bottom: 30px;
    font-family: AvenirNext-Bold;
}

.brand-sub-title {
    margin: 0px;
}

.list-brand {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
}

.list-brand .item {
    display: inline-flex;
    background: #fff;
    box-shadow: 2px 11px 27px #cdd6ed;
    border-radius: 14px;
    margin: 15px 15px 0;
    padding: 14px 20px;
    height: 120px;
    vertical-align: top;
}

.list-brand img {
    max-width: 100%;
    max-height: 100%;
}

button-group {
    text-align: center;
}

.btn-white {
    background: #FFFFFF;
    box-shadow: 2px 6px 15px #ccd6ef;
    border-radius: 100px;
    color: #111C63;
    font: 18px/1 AvenirNext-DemiBold, sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 37.5em) {
    .list-brand {
        margin: 0px !important;
        display: initial;
    }

    .list-brand .item {
        height: 58px !important;
        margin: 8px 0px 0 !important;
        padding: 11px 20px !important;
    }

    .list-brand img {
        width: 100%;
    }

}


/* pharmacy*/
.pharmacy-made-easy {
    background: url(images/bg-wave-t.c081388f4a9348294496.svg) no-repeat top;
    background-size: 100% auto;
    padding-top: 10%;
}

.pharmacy-made-easy .title {
    position: relative;
    margin-bottom: 80px;
    font-family: AvenirNext-Bold, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 28px;
}

.pharmacy-wrapper {
    box-sizing: border-box;
}

.item-xl-12 {
    padding-left: 7px;
    padding-right: 7px;
}

.card {
    position: relative;
    min-height: 390px;
    padding: 20px;
}

.card-service {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0.1rem 0.2rem 0 rgb(0 0 20%);
    cursor: pointer;
    transition: ease-in-out 0.2s;
    height: 100%;
    margin: 5px;
}

.card .title {
    margin: 14px 0;
    color: #4a4a4a;
    white-space: pre-wrap !important
}

.pharmacy-made-easy img {
    width: 50%;
}

.pharmacy-made-easy .card-body {
    margin-bottom: -12px;
}

.pharmacy-made-easy .card-img-top {
    display: block;
    justify-content: center;
    align-items: center;
    height: 76px;
}

@media only screen  and (max-width: 768px) {
    .pharmacy-made-easy img {
        width: 50%;

    }

    .pharmacy-made-easy .card-img-top {
        display: flex;
    }

    .pharmacy-made-easy .card {
        width: 47%;
    }

    .pharmacy-made-easy .button-next {
        left: 0%;
    }

    .pharmacy-made-easy .button-prev {
        right: 0%;
    }

    .pharmacy-made-easy .card-text {
        text-align: justify;
    }

    .pharmacy-made-easy .card-body {
        padding: 0px;
    }

}

/*footer*/
footer {
    display: block;
    padding: 50px 0;
    width: 100%;
    background-color: #242A61;
    color: #ffff;
    font-size: 14px;
    line-height: 1.85;
}

body a {
    text-decoration: none;
}

footer .footer-logo {
    display: inline;
    width: 100%;
    padding-bottom: 30px;
}

.footer-top {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc !important;
    display: inline-block;
}

.footer-bottom {
    display: inline-block;
    padding-top: 30px;
}
