body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
.container-fluid{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1200px;
}
.color-white {
background: #ffffff;
}
@media only screen and (max-width: 765px){
    .container, .container-fluid {
        width: 100%;
    }
}