footer{
    background-color:#001C44 ;
    color: #ffffff;
    text-align: start;
    margin: 0px;
    padding-bottom: 40px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400

}
footer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
footer span{
    color: #29819C;
}
footer h5{
    font-size: 16px;
}
.footer-logo{
    padding-top: 60px;
    padding-bottom: 45px;
    display: block;
    width: 25%;
}


